<!DOCTYPE html>
<html>
  <head>
    <title>Stracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC92gLxBxH6pWkd9Cnc6bN8HfwPqiMYX-4&libraries=places"%>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=AIzaSyC92gLxBxH6pWkd9Cnc6bN8HfwPqiMYX-4"%>
   
    
    
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/e66da93712.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
